<div class="page-header col-sm-offset-2 col-sm-10">
  <h1>Arrive By</h1>
  <p>Never be late again!</p>
</div>

<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_event" role="form" class="form-horizontal">
  <!-- Label and input for start_location -->

  <div class="form-group">
    <label for="start_location" class="col-sm-2 control-label">
    Start location
    </label>
    <div class="col-sm-6">
      <input id="start_location" name="start_location" placeholder="Choose a starting location"  class="form-control"><%= @event.start_location %></input>
    </div>
  </div>

  <!-- Label and input for end_location -->
  <div class="form-group">
    <label for="end_location" class="col-sm-2 control-label">
    Destination
    </label>
    <div class="col-sm-6">
      <input id="end_location" name="end_location" placeholder="Choose a destination" class="form-control"><%= @event.end_location %></input>
    </div>
  </div>

  <!-- Label and input for arrival_time -->
  <div class="form-group">
    <label for="arrival_time" class="col-sm-2 control-label">
      Arrival time
    </label>
    <div class="col-sm-6">
      <input type="text" id="arrival_time" name="arrival_time" placeholder="Choose an arrival time" class="form-control" value="<%= @event.arrival_time %>">
    </div>
  </div>


<!--   <div class="form-group">
    <label for="arrival_time" class="col-sm-2 control-label">
      Arrival time
    </label>
          <div class="col-sm-6 input-group date" id="datetimepicker1">
            <input type="text" id="arrival_time" name="arrival_time" placeholder="Arrival time" class="form-control" value="<%= @event.arrival_time %>">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker1').datetimepicker();
          });
      </script>
  </div> -->


  <!-- Label and input for phone_number -->
  <div class="form-group">
    <label for="phone_number" class="col-sm-2 control-label">
      Phone number
    </label>
    <div class="col-sm-6">
      <input type="text" id="phone_number" name="phone_number" placeholder="(xxx) xxx-xxxx" class="form-control" value="<%= @event.phone_number %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Event" class="btn btn-primary">
    </div>
  </div>
</form>
