<div class="page-header">
  <h1>Event #<%= @event.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Start location</dt>
  <dd><%= @event.start_location %></dd>

  <dt>End location</dt>
  <dd><%= @event.end_location %></dd>

  <dt>Arrival time</dt>
  <dd><%= @event.arrival_time %></dd>

  <dt>Departure time</dt>
  <dd><%= @event.departure_time %></dd>

  <dt>Duration</dt>
  <dd><%= @event.duration %></dd>

  <dt>Phone number</dt>
  <dd><%= @event.phone_number %></dd>

</dl>
